{
  "ServiceRouterFunction": {
    "ENVIRONMENT": "prod",
    "BEDROCK_AGENT_ID": "your-agent-id-here",
    "BEDROCK_AGENT_ALIAS_ID": "TSTALIASID",
    "CHAT_HISTORY_TABLE_NAME": "purrsurance-service-router-ChatHistory",
    "LOG_LEVEL": "info",
    "USE_MOCK_BEDROCK": "true",
    "AWS_REGION": "us-east-1",
    "IS_LOCAL": "true"
  }
}

