{
  "ServiceRouterFunction": {
    "ENVIRONMENT": "prod",
    "INTENTION_CLASSIFIER_AGENT_ID": "your-intention-classifier-agent-id",
    "INTENTION_CLASSIFIER_AGENT_ALIAS_ID": "TSTALIASID",
    "POLICY_MANAGER_AGENT_ID": "your-policy-manager-agent-id",
    "POLICY_MANAGER_AGENT_ALIAS_ID": "TSTALIASID",
    "VETDOC_AGENT_ID": "your-vetdoc-agent-id",
    "VETDOC_AGENT_ALIAS_ID": "HHYIMLH3V1",
    "BEDROCK_AGENT_ID": "your-agent-id-here",
    "BEDROCK_AGENT_ALIAS_ID": "TSTALIASID",
    "CHAT_HISTORY_TABLE_NAME": "purrsurance-service-router-ChatHistory",
    "LOG_LEVEL": "info",
    "USE_MOCK_BEDROCK": "true",
    "AWS_REGION": "us-east-1",
    "IS_LOCAL": "true"
  }
}

