{
  "BackendApiFunction": {
    "ENVIRONMENT": "prod",
    "VET_APPOINTMENTS_TABLE_NAME": "VetAppointments",
    "LOG_LEVEL": "info",
    "NODE_ENV": "development",
    "AWS_REGION": "us-east-1"
  }
}

