{
  "EventPublisherFunction": {
    "EVENTS_TABLE_NAME": "vet-expert-event-publisher-events",
    "ENVIRONMENT": "dev",
    "LOG_LEVEL": "debug",
    "NODE_ENV": "development",
    "AWS_NODEJS_CONNECTION_REUSE_ENABLED": "1"
  }
}

